body * {
  font-size: .8em;
}

#output {
  width: 90%;
  max-width: 500px;
  margin: auto;
} 

.rowhead {
  max-width: 5em;
  font-size: .8em;
}

.between {
  color: gray;
  font-size: .9em;
  margin: auto;
  text-align: right;
  margin-top: -1em;
}

.is-fullwidth {
  font-size: .8em;
}

.reduce {
  font-size: .8em;
}